#wiiu-sprite1 {
  top: 500px;
  left: 600px;
  position: absolute;
}

#suicidebot-sprite1 {
  top: 100px;
  left: 200px;
  position: absolute;
}

#dicksucker-sprite {
  top: 500px;
  left: 500px;
}

#security-sprite1 {
  top: 180px;
  left: 500px;
  position: absolute;
}

#principal-sprite1 {
  top: 20px;
  left: 400px;
  position: absolute;
}